@{
    ViewData["Title"] = "Home Page - Backend2";
}

<h1>Form parametrs parsing demo</h1>
<ul>
    <li><a asp-controller="Calculate" asp-action="Manual">Manual parsing in single action</a></li>
    <li><a asp-controller="Calculate" asp-action="ManualWithSeparateHandlers">Manual parsing in separate actions</a></li>
    <li><a asp-controller="Calculate" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
    <li><a asp-controller="Calculate" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
</ul>
